*{
    margin: 0;
    padding: 0;
}

.mobile-container{
     width: 100%;
     height: 150px;
}


.span-item{
     float: left;
     width: 375px;
     height: 100px;
}

.span1{
    background-color:red;
}
.span2{
    background-color:green;
}
